
<!DOCTYPE html>
<html>
<title>Stripe Payment </title>
<body>
    <h3 >Welcome to Payment Gateway</h3>
    <form action="payment" method="POST">
       <script
          src="//checkout.stripe.com/v2/checkout.js"
          class="stripe-button"
          data-key="<%= key %>"
          data-amount="2500*100"
          data-currency="usd"
          data-name="buyer sasi"
          data-description="your product is"
          data-locale="auto" >
        </script>
    </form>
</body>
</html>